curused: "Dev"
Dev:
  version: 1
  level: 2
  zap_loggers:
  - name: "handle_logger_1"
    file_path: "./log/{DATE}/handle_logger_{POD_NAME}_1.CVS"
    max_size: 10
    max_backups: 2
    max_age: 1
    compress: false
    async: false
    format : "cvs"


  - name: "system_logger"
    file_path: "./log/{DATE}/system_logger_{POD_NAME}.log"
    max_size: 20
    max_backups: 3
    max_age: 1
    compress: true
    async: false
    format : "log"

  - name: "handle_logger_3"
    file_path: "./log/{DATE}/handle_logger_{POD_NAME}_3.CVS"
    max_size: 15
    max_backups: 4
    max_age: 1
    compress: false
    async: false
Pro:
  version: 1
  level: 1
  zap_loggers:
  - name: "handle_logger_1"
    # info: "./log/{DATE}/handle_logger_info_{POD_NAME}_1.CVS"
    # error: "./log/{DATE}/handle_logger_err_{POD_NAME}_1.CVS"
    file_path: "./log/{DATE}/handle_logger_{POD_NAME}_1.CVS"
    max_size: 10
    max_backups: 5
    max_age: 1
    compress: false
    async: false
    format : "cvs"
Pre:
Test:
  


